<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <flash-player>
    <path>%PFXHOME%\tools\FP10.exe</path>
  </flash-player>
  <!-- section with compiler options -->
  <compiler>
    <!-- Specifies whether compiler must insert debugger breaks when exceptions are rised -->
    <exception-break>true</exception-break>
  </compiler>
  <!-- section to configure runtime (player) -->
  <runtime>
    <!-- Specifies default version of flash player -->
    <version>9</version>
  </runtime>
  <!-- section to configure swf generation -->
  <swf>
    <!-- Specifies whether produced swf file will be compressed or not -->
    <compressed>true</compressed>
    <!-- Default value for background color -->
    <bgcolor>#8696A7</bgcolor>
    <!-- Default value for frame width -->
    <width>800</width>
    <!-- Default value for frame height -->
    <height>600</height>
  </swf>
  <!-- section to configure generation of html wrapper -->
  <html>
    <!-- Specifies name of directory in '..\HTML Templates' that contains HTML template  -->
    <!-- that will be used to create HTML wrapper. -->
    <!-- Use empty string to disable generation of HTML wrapper. -->
    <template>swfobject</template>
  </html>
  <flex>
    <!-- Specifies default list of locales to compile -->
    <locale>en_US</locale>
  </flex>
</configuration>